# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
!SFML-2.5.1-visual64/bin/*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
!SFML-2.5.1-visual64/lib/*.lib

# Executables
*.exe
*.out
*.app

# Build
.idea/
build/
test/
out/
./bin/
cmake-build-debug/
